.App {
	text-align: center;
  }
  
  .App-logo {
	height: 25vmin;
	pointer-events: none;
  }
  
  .tw-web3button,
  .button-token-data {
	background-color: var(--background-color);
	color: white;
	border: 2px solid white;
	border-radius: 15px !important;
	padding: 0.5em 1.3em !important;
	font-size: 1em !important;
  }
  
  .site-url {
	font-size: 2em;
	font-weight: 900;
	font-stretch: ultra-expanded;
  }
  
  .user-data,
  .address-data {
	opacity: 0;
	transition: opacity 6s;
  }
  
  .user-data-show,
  .address-data-show {
	opacity: 1 !important;
	transition: opacity 4s ease-in-out;
  }
  
  @media (prefers-reduced-motion: no-preference) {
	.App-logo {
	  animation: App-logo-spin infinite 9.9s linear;
	}
  }

  @keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
  
  .contract-input-field,
  .input-field,
  .contract-input-button,
  .button-container button {
	background-color: var(--background-color);
	color: white;
	border: 2px solid white;
	border-radius: 15px !important;
	padding: 0.5em 1.3em !important;
	font-size: 1em !important;
	margin-top: -1em;
  }
  
  .App-header {
	background-color: var(--background-color);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	color: white;
	position: relative;
  }
  
  button:hover,
  /* .tw-web3button:hover, */
  .button-token-data:hover {
	background-color: var(--accent-color) !important;
	color: black !important;
  }
  
  /* .tw-web3button:active, */
  button:active{
	background-color: var(--accent-color) !important;
	color: black !important;
  }
  
  .top-right {
	position: absolute !important;
	top: 0.5em;
	right: 1.5em;
  }
  
  .wallet-container {
	/* width: 100%; */
  }
  
  .methods-container {
	display: flex;
	flex-direction: row;
	height: 30em;
	width: 92%;
	align-items: start;
	border-radius: 15px;
	column-gap: 1.5em;
  }
  
  .left,
  .right {
	display: flex;
	flex-direction: column;
	column-gap: 1.2em;
	width: 100%;
  }
  
  .col-style,
  .row-style {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: stretch;
	flex: 1;
	gap: 0.5em;
  }
  
  .row-style {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
  }
  
  .function-button,
  .input-field,
  .function-output {
	content: flex-start;
	padding: 0.5em;
	font-size: 0.7em;
	height: auto;
  }
  
  .function-button,
  .input-field {
	background-color: var(--background-color);
	color: white;
	border: 2px solid white;
	border-radius: 15px !important;
	padding: 0.5em 1.3em !important;
	font-size: 1em !important;
	height: 100%;
  }
  
  .function-button {
	min-width: 8em;
  }
  
  .input-field {
	width: 10em;
	font-size: 0.5em;
	margin-right: 2%;
	min-width: 8em;
	border: 0.5px solid white;
  }
  
  .function-button {
	margin-right: 2%;
  }
  
  .function-output {
	opacity: 0;
	transition: opacity 5s ease-out;
  }
  
  .function-output.show-result {
	opacity: 1;
	transition: opacity 4s ease-in-out;
  }
  
  .contract-input-button {
	border: 0;
  }
  
  @media screen and (max-width: 815px) {

	.function-button:focus,
	.button-token-data:focus,
	.contract-input-button:active,
	.contract-input-button:focus,
	.contract-input-button:hover
	/* button:focus  */
	{
	  background-color: var(--accent-color) !important;
	  color: black !important;
	}

	.button-container {
	  flex-direction: column;
	}
  
	.methods-container {
	  height: auto;
	  width: 100%;
	}
  
	.function-button,
	.input-field,
	.function-output {
	  font-size: 0.6em;
	}
  
	.function-button {
	  padding: 0.7em;
	}
  
	.methods-container {
	  flex-direction: column;
	  align-items: center;
	  justify-items: space-around;
	}
  
	.col-style,
	.row-style {
	  width: 100%;
	  margin-top: 0.2em;
	  margin-bottom: 0.2em;
	}
  
	.top-right {
	  position: absolute;
	  top: 0.25em;
	  right: 1.5em;
	}
  
	.wallet-container {
	  width: auto;
	}
  
	.App-header {
	  font-size: calc(10px + 0.8vmin);
	}
  }
  
  @media screen and (max-width: 1215px) {
	.methods-container {
	  flex-direction: column;
	  height: 100%;
	}
  }


  /* Set default opacity to 0 for elements */
.added-element {
	opacity: 0;
	transition: opacity 0.3s ease-in-out; /* Apply transition to opacity property */
  }
  
  /* When the element gets added, update the opacity to 1 */
  .added-element.show {
	opacity: 1;
  }
  