.App {
	text-align: center;
}

.App-logo {
	height: 25vmin;
	pointer-events: none;
}

.tw-web3button {
	background-color: var(--background-color);
	color: white;
	border: 2px solid white;
	border-radius: 15px !important;
	padding: 0.5em 1.3em !important;
	font-size: 1em !important;
}

.site-url {
	font-size: 2em;
	font-weight: 900;
	/* font-stretch: ultra-expanded; */
	font-stretch: expanded;
	margin-left: 1.5em!important;
	margin-right: 1.5em!important;
	width: auto;
	/* width: 90%; */
}

.address-data,
.user-data {

	opacity: 0;
	/* transition: opacity 11s ease-out; */
}

/* .address-data {
	opacity: 0;
	transition: opacity 0s ease-out;
} */

.address-data-show,
.user-data-show{
	opacity: 1 !important;
	transition: opacity 4s ease-in;
}

.chain-name{
	font-size: 1.2em;
	font-weight: 600;
}


.button-container {
	/* display: flex; */
	/* flex-direction: row; */
}

.button-token-data {
	padding-top: 1em;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 9.9s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.contract-input-field,
.function-input-field,
.function-input-filed-payable,
.contract-input-button,
.switch-network-button {
	background-color: var(--background-color);
	color: white;
	border: 2px solid white;
	border-radius: 15px !important;
	padding: 0.5em 1.3em !important;
	font-size: 1em !important;
}

.switch-network-button {
	padding: 1.7em!important;
	border-radius: 25px!important;
}

.contract-input-field {
	margin-top: -1.3em;
	margin-bottom: .5em;
	width: 26em;
	text-align: center;
}

.App-header {
	background-color: var(--background-color);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	color: white;
	position: relative;
}

.contract-input-button:hover,
.function-button:hover,
.switch-network-button:hover {
	background-color: var(--accent-color) !important;
	color: black !important;
}

button:active {
	background-color: var(--accent-color) !important;
	color: black !important;
}

.top-right {
	position: absolute;
	top: -.5em;
	right: 0em;
}

.wallet-container {
	/* width: 100%; */
}

.methods-container {
	display: flex;
	flex-direction: row;
	height: auto;
	/* width: 72%; */
	align-items: start;
	border-radius: 15px;
	column-gap: 1.5em;
	/* justify-items: space-around; */
	padding: 0 2em;
}

.left,
.right {
	display: flex;
	flex-direction: column;
	column-gap: 1.2em;
	width: 100%;
}

.col-style,
.row-style {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: stretch;
	flex: 1;
	gap: 0.5em;
}

.row-style {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	/* align-items: stretch; */
	align-items: baseline;
}

.function-button,
.function-input-field,
.function-input-filed-payable,
.function-output {
	content: flex-start;
	padding: 0.5em;
	font-size: 0.7em;
	height: auto;
}

.function-button,
.function-input-field,
.function-input-filed-payable {
	background-color: var(--background-color);
	color: white;
	border: 2px solid white;
	border-radius: 15px !important;
	padding: 0.5em 1.3em !important;
	font-size: 1em !important;
	height: 100%;
}


.function-button {
	min-width: 8em;
	margin-right: .3em;
}

.function-button-payable {
	background-color: rgba(255, 0, 0, 0.342)!important;
}

.function-input-filed-payable,
.function-input-field {
	width: 9.1em;
	font-size: 0.8em !important;
	/* margin-top: .4em; */
	margin-right: .3em;
	border: 0.5px solid white;
	height: 1.45em;
}


.function-output {
	opacity: 0;
	transition: opacity 1s ease-out;
	/* width : 0; */
}

.function-output.show-result {
	opacity: 1;
	transition: opacity 1s ease-in;
	width: auto;
}

.contract-input-button {
	border: 0;
	margin-top: 1.5em;
}

.speed-control {
	display: flex;
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin-top: 3em;
	/* color: green; */
}

#speedSlider {
	/* Styles for the track */
	--slider-track-height: 4px;
  
	/* Styles for the thumb (handle) */
	--slider-thumb-color: #2196F3; /* Change this color */
	--slider-thumb-size: 16px;
	--slider-thumb-border-radius: 50%;
  
	/* Other existing styles... */
  
	/* Override default styles for the input range element */
	width: 10em;
	margin: 0 10px;
	appearance: none;
	background-color: var(--main-color);
	height: var(--slider-track-height);
	border-radius: calc(var(--slider-track-height) / 2);
  }
  
  #speedSlider::-webkit-slider-thumb {
	appearance: none;
	width: var(--slider-thumb-size);
	height: var(--slider-thumb-size);
	background-color: var(--slider-thumb-color);
	border-radius: var(--slider-thumb-border-radius);
	cursor: pointer;
  }

span {
	font-weight: bold;
}

@media screen and (max-width: 815px) {

	.App-header {
		font-size: .8em!important;
	}

	.function-button{
		font-size: .95em!important;
	}

	.function-button:focus,
	.contract-input-button:active,
	.contract-input-button:focus,
	.contract-input-button:hover

	/* button:focus  */
		{
		background-color: var(--accent-color) !important;
		color: black !important;
	}

	.button-container {
		flex-direction: column;
	}

	.methods-container {
		height: auto;
		/* width: 100%; */
	}

	.function-button,
	.function-input-field,
	.function-input-filed-payable,
	.function-output {
		font-size: 0.6em;
	}

	.function-button {
		padding: 0.7em;
	}

	.methods-container {
		flex-direction: column;
		/* align-items: center;
		justify-items: space-around;
		justify-content: center; */
		/* background-color: azure; */
	}

	.function-type{
		display: flex;
		flex-direction: row;
		align-self: center;
	}

	/* .left,
	.right {
		width: 100%;
	} */

	.col-style,
	.row-style {
		width: 100%;
		margin-top: 0.2em;
		margin-bottom: 0.2em;
	}

	.top-right {
		/* right: 1em; */
	}

	.wallet-container {
		width: auto;
	}

	.user-data-show {
		font-size: 1em!important;
	}

/* 
	.user-data-show {
		font-size: 0.82em;
	}

	.site-url {
		font-size: 1.5em;
	} */
}

@media screen and (max-width: 1215px) {
	.methods-container {
		flex-direction: column;
		height: 100%;
	}
}


/* Set default opacity to 0 for elements */
.added-element {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	/* Apply transition to opacity property */
}

/* When the element gets added, update the opacity to 1 */
.added-element.show {
	opacity: 1;
}